.page {
    margin: 0;
    padding: 0;
    background: #29262f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 64px;
}

.header {
    margin-top: 32px;
    margin-bottom: 32px;
}

.header__title {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 20px;
}

.header__back {
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-bottom: 20px;
}

.header__description {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.header__container {
    padding: 0px 24px;
}

.header__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
}

.header__add {
    background: #795CB1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 24px;
}

.header__try {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}


.content__section {
    margin-bottom: 32px;
}

.content__container {
    padding: 0px 24px;
}

.content_header {
    margin-bottom: 12px;
}

.content__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #fff;
}

.content__link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #795CB1;
}

.content__panel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.recommendation {
    height: 320px;
    background-color: #D22F27;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
}

.recommendation__description {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    opacity: 0.7;
}

.recommendation__action {
    display: flex;
}

.recommendation__add {
    border-radius: 4px;
    background: rgba(255,255,255, 0.3);
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    text-decoration: none;
}

.recommendation__try {
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    text-decoration: none;
}


.recommendation__logo {
    margin-bottom: 32px;
}



.rating {

}

.rating__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}

.rating__brand {
    align-items: center;
    display: flex;

}

.rating__logo {
    width: 40px;
    height: 40px;
    background: green;
    margin-right: 12px;
    border-radius: 3px;
}

.rating__logo_view_spotify {
    background: #02DF82;
}

.rating__logo_view_bookmate {
    background: rgb(157, 119, 96);
}

.rating__logo_view_youtube {
    background: rgb(230, 33, 23);
}

.rating__logo_view_amazon {
    background: rgb(255, 153, 0);
}

.rating__logo_view_dropbox {
    background: #0060ff;
}

.rating__name {
    font-size: 16px;
    color: #fff;
}


.rating__score {
    font-size: 16px;
    color: #fff;
}

.auth {

}

.auth__item {
    height: 88px;
    margin-bottom: 16px;
    border-radius: 12px;
    background-color: rgba(255,255,255, 0.08);
    font-size: 16px;
    display: flex;
    color: #fff;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    text-decoration: none;
}

.auth__logo {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.auth__logo_view_google {
    background-image: url('assets/google.svg');
}

.auth__logo_view_facebook {
    background-image: url('assets/facebook.svg');
}

.auth__logo_view_apple {
    background-image: url('assets/apple.svg');
}

.auth__name {
    margin-left: 20px;
}

.legal {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #646161;
    margin-bottom: 12px;
}

.bar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    background: #29262f;
}

.bar__item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.bar__item:hover {
    opacity: 0.8;
}

.bar__item_view_active {
    opacity: 1;
}


.subscription {
    /* width: 170px; */
    height: 128px;
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscription__logo {
    width: 80px;
}

.subscription__period {
    font-size: 12px;
    line-height: 14px;
}

.subscription__amount {
    font-size: 18px;
    line-height: 22px;
}
.subscription__add {
    background-color: #795CB1;
    align-items: center;
    justify-content: center;
}

.analytics_period {
    opacity: 0.7;
}


.history__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.history__title {
    font-size: 16px;
    line-height: 20px;
}
.history__period {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.7;
}

.card-limits {
    background: rgba(255,255,255, 0.1);
    padding: 24px;
    text-align: center;
    border-radius: 12px;
}

.card-limits__tabs {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #58565E;
    margin-bottom: 20px;
}

.card-limits__item {
    color: rgba(255,255,255, 0.3);
}

.card-limits__item_state_active {
    color: rgba(255,255,255, 1);
}

.card-limits__price {
    font-size: 42px;
}

.card-limits__info {
    text-align: left;
    color: rgba(244, 242, 251, 0.6);
    display: flex;
}

.card-limits__info-icon {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    background-image: url('assets/warning.svg');
}

.card-limits__info-text {
    margin-left: 12px;
    font-size: 15px;
}

.button {
    height: 48px;
    padding: 0px 12px;
    background-color: #795CB1;
    color: #fff;
    border: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.settings-card-preview {
    height: 120px;
    background-color: #D22F27;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.settings-card-preview__logo {
    width: 120px;
    height: 32px;
    background-image: url('assets/netflix-24.svg');
    background-repeat: no-repeat;
}

.settings-card-preview__more {
    width: 6px;
    height: 16px;
    background-image: url('assets/more-dotted.svg');
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -8px;
}

.textinput {
    height: 48px;
    background: rgba(255,255,255, 0.1);
    border-radius: 8px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
}

/* THEME */
.theme_color_netflix-brand {
    background-color: #D22F27;
}
.theme_color_spotify-brand {
    background-color: #02DF82;
}

/* TYPOGRAPHY */
.text_bold {
    font-weight: 500;
}
.text_link {
    color: #8A80AD;
    text-decoration: none;
    cursor: pointer;
}

/* LAYOUT */
.section {
    padding: 0px 24px;
    margin-bottom: 24px;
}
.section__header {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.distribute_between {
    display: flex;
    justify-content: space-between;
}
.list__item {
    margin-bottom: 16px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}
.swipe {
    overflow-x: scroll;
    margin-bottom: 24px;
}
.swipe__scroll {
    display: flex;
    margin-left: 24px;
    padding-bottom: 20px;
    width: 562px;
}
.swipe__item {
    height: 128px;
    width: 172px;
    background: #464646;
    border-radius: 12px;
    margin-right: 12px;
}
.form {
    display: flex;
}
.button_wrapper {
    margin-left: 16px;
}

/* CONTROLS */
input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 10px;
    color: rgba(255,255,255, 0.6);
    font-size: 16px;
    line-height: 20px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
}
input:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px #795CB1;
}
.button {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 24px;
    border-radius: 10px;
    display: inline-block;
    background-color: #795CB1;
}