body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: red;
}

.subscription {
    width: 170px;
    height: 128px;
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subscription__logo {
    width: 80px;
}
.subscription__period {
    font-size: 12px;
    line-height: 14px;
}
.subscription__amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.theme_color_netflix-brand {
    background-color: #D22F27;
    color: #fff;
}